<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ae94a880-c54e-4746-b57c-17b0279adc2f/resourceGroups/Cs2/providers/Microsoft.Web/sites/EsTacna</ResourceId>
    <IsLinux>True</IsLinux>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://estacna.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>55208a6e-4b76-484d-9e58-62d5ba19c618</ProjectGuid>
    <PublishUrl>https://estacna.scm.azurewebsites.net/</PublishUrl>
    <UserName>$EsTacna</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>